**/.idea
**/*.iml

*.war
*.ear
*.class

/extensions/*/extensioninfo.xsd
/extensions/*/eclipsebin
/extensions/*/classes
/extensions/*/gensrc
/extensions/*/build.xml
/extensions/*/resources/beans.xsd
/extensions/*/resources/items.xsd
/extensions/*/resources/*/*-testclasses.xml
/extensions/*/resources/*/*-webtestclasses.xml
/extensions/*/hmc/classes
/extensions/*/hmc/bin
/extensions/*/hmc/resources/hmc.xsd
/extensions/*/hmc/testclasses